{% load static %}
<header id="header">
<form action="{% url 'switch_dashboard' %}" method="POST">
        {% csrf_token %}
        <div class="tab-content"> <!--2 -->
          <div id="freelancer_dashboard" class="tab-pane fade in active">
            <div class="wrapper row1"> <!--4 -->
              <header id="header">
              <div class="leftnav2">
              <nav id="topnav2">
                <ul class="topnav2 clear nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#browse_projects"><span class="fa fa-search"></span> Browse Projects</a></li>
                  <li><a data-toggle="tab" href="#my_projects"><span class="fa fa-tasks"></span> My Projects</a></li>
                  <li><a data-toggle="tab" href="#inbox"><span class="fa fa-envelope"></span> Inbox</a></li>
                  <li><a data-toggle="tab" href="#updates"><span class="fa">&#xf0f3;</span> Updates <span style="background-color:red;"class="badge">5</span></a></li>
                </ul>
              </nav>
            </div>
          </header>

          <div class="rightnav11free">
                <button id="as_freelancer" name="as_freelancer" value=/>Freelancer</button>
          </div>
          <div class="rightnav1free">
                <button id="as_employer" name="as_employer" onclick="enablebuttonemployer()">Employer</button>
          </div>
      </form>
      <div class="clear"></div>
</header>