@charset "utf-8";
  h1,h2{
    font-family:Arial;
    margin:0; font-weight:normal; text-decoration:none;
  }
  h1 a:hover{
    text-decoration:none;
    color: black;
  }



  .form-control {
    padding-top: 0;
  font-size: 16px;
  font-family:Arial;
  transition: all 0.4s;
  box-shadow: none;
  }
  .form-control:focus {
    border-color: #d3d3d3 !important;
    }
    .form-control, .btn {
        border-radius: 50px;
    outline: none !important;
    }
  .signin-form {
    font-family:Arial;
    width: 400px;
      margin: 0 auto;
  }
    .signin-form form {
    border-radius: 5px;
      margin-bottom: 20px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 40px;
    }
   .signin-form a:link{
    color: #2E8B57;
  }
  .signin-form input{
    margin-bottom: 20px !important;
padding:5px !important;
border: 2px solid #ccc !important;
border-radius: 10px !important;
  }
  .signin-form a:hover{color:black;}
  .signin-form a:visited{color:#2E8B57;}  
  .signin-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
  }
  .signin-form .hint-text {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-size:1.25em;
  }
  .signin-form .form-group {
    margin-bottom: 20px;
    display:inline !important;
  }
    .signin-form .btn {  
    font-size: 18px;
    line-height: 26px;        
    font-weight: bold;
    text-align: center;
    }
    .signin-form .small {
        font-size: 13px;
    }
  .signup-btn {

    text-align: center;
    border-color: #d3d3d3;
    transition: all 0.4s;
  }
  .signup-btn:hover {
    background: #d3d3d3;
    opacity: 0.8;
  }
    .or-seperator {
      font-family:Arial;
        margin: 50px 0 15px;
        text-align: center;
        border-top: 1px solid #e0e0e0;
    }
    .or-seperator b {
        padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
        border: 1px solid #e0e0e0;
    border-radius: 50%;
        position: relative;
        top: -22px;
        z-index: 1;
    }
    .social-btn .btn {
    color: #fff;
        margin: 10px 0 0 30px;
    font-size: 15px;
        width: 55px;
        height: 55px;
        line-height: 38px;
        border-radius: 50%;
    font-weight: normal;
        text-align: center;
    border: none;
    transition: all 0.4s;
    } 
  .social-btn .btn:first-child {
    margin-left: 0;
  }
  .social-btn .btn:hover {
    opacity: 0.8;
  }
  .social-btn .btn-primary {
    background: #507cc0;
  }
  .social-btn .btn-info {
    background: #64ccf1;
  }
  .social-btn .btn-danger {
    background: #df4930;
  }
  .social-btn .btn i {
    font-size: 20px;
  }

  h1,h2{
    font-family:Arial;
    margin:0; font-weight:normal; text-decoration:none;
  }
  h1 a:hover{
    text-decoration:none;
    color: black;
  }

    .form-control {
    padding-top: 0;
    font-size: 16px;
    font-family:Arial;
    transition: all 0.4s;
    box-shadow: none;
    }
  .form-control:focus {
        border-color: #d3d3d3;
    }
    .form-control, .btn {
        border-radius: 50px;
    outline: none !important;
    }
  .signin-form {
    font-family:Arial;
    width: 65%;
      margin: 0 auto;
  }
    .signin-form form {

    border-radius: 5px;
      margin-bottom: 20px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 40px;
    } 

      .signin-form a:link{
    color: #2E8B57;
  }
  .signin-form a:hover{color:black;}
  .signin-form a:visited{color:#2E8B57;}  
  .signin-form input{
    margin-bottom: 20px !important;
    padding:5px !important;
    border: 2px solid #ccc !important;
    border-radius: 10px !important;
      }
  .signin-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
  }
  .signin-form .hint-text {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-size:1.25em;
  }
  .signin-form .form-group {
    margin-bottom: 0px;
    display:inline;
  }

.signin-form .row div:first-child {
  float:left;
  width: 48%;
  padding-left: 15px;
  display: block;
}
.signin-form .row div:last-child {
  float:right;
  width: 48%;
  padding-right: 15px;
  display: block;
}

input[type="text"] {
    width: 100%;
    display: block;
    float: left;
    margin:0 auto;
}

input[type='checkbox'] {
  float: left;
  width: 20px;
}
input[type='checkbox'] + label {
  display: block;
  width: auto;
}

  .signin-form .btn {  
    font-size: 18px;
    line-height: 26px;        
    font-weight: bold;
    text-align: center;
    }
  .signin-form .small {
      font-size: 13px;
  }
  .signup-btn {

    text-align: center;
    border-color: #d3d3d3;
    transition: all 0.4s;
  }
  .signup-btn:hover {
    background-color: #d3d3d3;
    opacity: 0.8;
  }