@charset "utf-8";

/*table{width:100%; border-collapse:collapse; table-layout:auto; vertical-align:top; margin-bottom:15px; border:1px solid #CCCCCC;}
table thead th{color:#FFFFFF; background-color:#666666; border:1px solid #CCCCCC; border-collapse:collapse; text-align:center; table-layout:auto; vertical-align:middle;}
table tbody td{vertical-align:top; border-collapse:collapse; border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC;}
table thead th, table tbody td{padding:5px; border-collapse:collapse;}
table tbody tr.light{color:#666666; background-color:#F7F7F7;}
table tbody tr.dark{color:#666666; background-color:#E8E8E8;}*/

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

#actionicons{
    font-size: 18px;
    padding-right: 10px;
    background-color:transparent;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: auto;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #20B2AA;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: left;
}
table td.c, table th.c {
  text-align: left;
}
table td.r, table th.r {
  text-align: left;
}


.table100-head th{
  font-size: 14px;
  color: white;
  line-height: 1.2;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
tbody tr:nth-child(even) #actionicons{
    font-size: 18px;
    padding-right: 10px;
    background-color:#f5f5f5;
}


tbody tr {
  font-size: 14px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #DCDCDC;
  cursor: pointer;
}


.column1 {
  width: 3%;
}

.column2 {
  width: 15%;
}

.column3 {
  width: 34%;
}

.column4 {
  width: 15%;
}

.column5 {
  width: 11%;
}

.column6 {
  width: 11%;
  vertical-align: middle;
}

.column7{
  width: 11%;
}


@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Sr. No.";
  }
  table tbody tr td:nth-child(2):before {
    content: "Project Name";
  }
  table tbody tr td:nth-child(3):before {
    content: "Project Details";
  }
  table tbody tr td:nth-child(4):before {
    content: "Deadline";
  }
  table tbody tr td:nth-child(5):before {
    content: "Payment";
  }
 /* table tbody tr td:nth-child(6):before {
    content: "Bids";
  }*/
  table tbody tr td:nth-child(7):before {
    content: "Actions";
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3{
    width: 100%;
    text-align: left;
     
  }

  .column7 {
    width: 100%;
    text-align: center;
     
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.viewbids{background-color:#20B2AA; color:#fff; float:right;}






/*FREELANCER BOARD FOR PROJECTS*/
.frlimiter {
  width: 100%;
  margin: 0 auto;
}

.frcontainer-table100 {
  width: 100%;
  min-height: auto;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.frwrap-table100 {
  width: 1170px;
}
.fr{}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #20B2AA;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: left;
}
table td.c, table th.c {
  text-align: left;
}
table td.r, table th.r {
  text-align: left;
}


.fr .table100-head th{
  font-size: 14px;
  color: white;
  line-height: 1.2;
  font-weight: bold;
}

.fr tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
tbody tr:nth-child(even){
    font-size: 14px;
    padding-right: 10px;
    background-color:#f5f5f5;
}


.fr tbody tr {
  font-size: 14px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

.fr tbody tr:hover {
  color: #555555;
  background-color: #DCDCDC;
  cursor: pointer;
}


.fr .column1 {
  width: 3%;
}

.fr .column2 {
  width: 17%;
}

.fr .column3 {
  width: 38%;
}

.fr .column4 {
  width: 16%;
}

.fr .column5 {
  width: 12%;
}

.fr .column6 {
  width: 14%;
}




@media screen and (max-width: 992px) {
  .fr table {
    display: block;
  }
  .fr table > *, table tr, table td, table th {
    display: block;
  }
  .fr table thead {
    display: none;
  }
  .fr table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  .fr table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  .fr table tbody tr td:last-child {
    margin-bottom: 0;
  }
  .fr table tbody tr td:before {
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  .fr table tbody tr td:nth-child(1):before {
    content: "Sr. No.";
  }
  .fr table tbody tr td:nth-child(2):before {
    content: "Project Name";
  }
  .fr table tbody tr td:nth-child(3):before {
    content: "Project Details";
  }
  .fr table tbody tr td:nth-child(4):before {
    content: "Deadline";
  }
  .fr table tbody tr td:nth-child(5):before {
    content: "Payment";
  }
 /* table tbody tr td:nth-child(6):before {
    content: "Bids";
  }*/
  .fr table tbody tr td:nth-child(7):before {
    content: "View Project";
  }

  .fr .column4,
  .fr .column5,
  .fr .column6,
  .fr .column1,
  .fr .column2,
  .fr .column3{
    width: 100%;
    text-align: left;
     
  }

  .fr .column7 {
    width: 100%;
    text-align: center;
     
  }

  .fr tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .fr .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}